<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.4" package="com.tfp.numberbomb" android:versionCode="104">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="NumberBomb.Android" android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>